.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.theme-label {
    font-size: 24px;
    margin: 0 5px;
}

input[type="checkbox"] {
    width: 40px;
    height: 20px;
    appearance: none;
    background: #ccc;
    border-radius: 20px;
    position: relative;
}

input[type="checkbox"]:checked {
    background: #444;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.3s;
}

input[type="checkbox"]:checked:before {
    left: 23px;
}

html.light {
    --name-wiki:#33475E;
    --background-color: #ffffff; 
    --text-color: #000000; 
    --link-color: #0066cc; 
    --header-footer-bg: #f4f4f4;
    --header-footer-text-color: #000000;
    --nav-bg: #ffffff;
    --nav-link-color: #000000;
}

html.dark {
    --name-wiki:#B1D5E3;
    --background-color: #121212;
    --text-color: #ffffff;
    --link-color: #1e90ff;
    --header-footer-bg: #333333;
    --header-footer-text-color: #ffffff;
    --nav-bg: #222222;
    --nav-link-color: #ffffff; 
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

h1{
    color: var(--name-wiki);
}
a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
}


.header {
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text-color);
    padding: 1rem;
    transition: background-color 0.3s, color 0.3s;
}


.nav {
    background-color: var(--nav-bg);
    padding: 1rem 2rem;
    text-align: left;
    transition: background-color 0.3s; 
}

.nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.5rem;
    position: relative;
    transition: color 0.3s; 
}

.footer {
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text-color);
    padding: 2rem;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: background-color 0.3s, color 0.3s; 
}
html.light .footer .links a {
    color: var(--link-color-light);
}
html.dark .footer .links a {
    color: var(--link-color-dark);
}

